<!doctype html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>goodspot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="//api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.js"></script>
    <link href="//api.tiles.mapbox.com/mapbox.js/v1.5.0/mapbox.css" rel="stylesheet">
    <script src="js/modernizr.js"></script>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="logo">goodspot</div>
        <div class="user"></div>
      </div>
      <div class="main">
        <div class="notifications">
          <p><%= notice %></p>
          <p><%= alert %></p>
        </div>
        <%= yield %>
      </div>
      <div class="footer">
        <p>A project of the <a href="http://www.sfcenter.org/">SF LGBT Center</a></p>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
